/* GENERIC */
body {
    font-family: 'VT323', monospace;
    background: url("../assets/images/back-image.jpg") no-repeat center center;
    margin: 0;
}

button {
    background-color: orange;
    border: 1px solid darkorange;
    box-shadow: 0 3px 0 darkorange;
    padding: 5px;
    border-radius: 5px;
}

button:active {
    transform: translateY(3px);
    box-shadow: none;
}

button:focus {
    outline: none;
}

nav {
    width: 100%;
    /*background-color: rgba(160, 255, 160, 0.85);*/
    background-color: rgba(62, 195, 0, 0.80);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.nav-font {
    font-weight: bold;
    font-size: 30px;
    margin: 2px;
}

#authentication-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: 20px;
}

#logo {
    width: 300px;
}

#sign-btn {
    display: flex;
    flex-flow: row nowrap;
    width: 150px;
    /*padding: 8px;
    margin: 8px;*/
}

.login-btn:hover {
    background-color: #FFFB73;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* FORMS */

#sign-form {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 8px auto;
    background-color: rgba(210, 210, 210, 0.80);
    display: flex;
    flex-direction: column;
}

#sign-form > label {
    margin-bottom: 15px;
}

#sign-form > label > input {
    box-sizing: border-box;
    width: 100%;
}

#login-form {
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#login-form > label > input{
    width: 120px;
    margin-right: 10px;
}

#logout-form {
    margin: auto 0;
    display: none;
}

#user {
    margin-right: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

/* TEXT */
h1 {
    text-align: center;
    margin-top: 20px;
}

h3 {
    margin: 0;
    text-align: center;
    color: #EEE;
    text-shadow: 2px 2px #333;
    text-transform: uppercase;
}

h2 {
    margin: 16px 0;
    text-align: center;
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#ship-grid, #salvo-grid {
    box-sizing: border-box;
    width: 416px;
    min-width: 416px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    box-shadow: 3px 3px 1px #333;
}

p.salvo-turn {
    position: absolute;
    top: 7px;
    margin: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #444;
}

.salvo-img {
    position: absolute;
    right: 1px;
}

#leaderBoard, #game-list {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.85);
}

thead {
    font-weight: bold;
}

td {
    border: 2px solid #333;
    padding: 12px;
    font-size: 20px;
    text-align: center;
}

.tile {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    /* We need 'position relative' to add later a <p> element inside the tile, over an image */
    position: relative;
}

button > img {
    width: 25px;
    height: 25px;
    padding: 5px;
}

#container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
}

button {
    font-family: 'VT323', monospace;
}

#game-list > ul {
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px;
    border: 2px solid #333;
    min-width: 400px;
}

#game-list li {
    padding: 5px 2px;
}

#game-list > ul > a:hover {
    background-color: rgba(62, 195, 0, 0.80);
}

#user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joingame-button {
    margin-left: 25px;
}